body{
  background-color: rgb(53, 51, 49);
  color: aquamarine;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
}
.container{
  text-align: center;
  padding: 40px;
}
.card{
  display: inline-block;
  background: #161b16;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(88, 166, 255, 0.5);
  margin-top: 20px;
  text-align: left;
}
.card ul{
  margin-top: 10px;
  line-height: 1.8;
}
.navbar{
  font-size: large;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.logo{
  height: 40px;
}